Sem 1
Sem 2/BIO102/campbell.pdf
Sem 2/BIO102/BIOLOGY CAMPBELLap_biology_complete_test_bank_8th_ed.pdf
Sem 2/CHM102/David J. Griffiths - Introduction to Quantum Mechanics-Pearson (2005).pdf
Sem 2/MTH102/Elementary Analysis The Theory of Calculus (2nd edition).pdf
Sem 2/PHY102/Introduction To Electrodynamics_4 [Griffiths].pdf
